.question__input {
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  width: 328px;
  height: 48px;
  padding-left: 16px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 16px;
  color: #6B7280;
}