.feedback__card-name {
  width: 252px;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #1F2937;
  margin-top: 40px;
  margin-bottom: 16px;
  font-family: "Inter Tight", sans-serif;
  margin: 26px 0 0;
}