.header {
  margin: 0;
  background-color: #1A202C;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 21px 160px 20px;
  box-sizing: border-box;
  max-width: 1440px;
}
