.project__section {
  max-height: 500px;
  background-color: #10B981;
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 26px;
}

@media (max-width: 1439px) {
  .project__section {
    max-height: 385px;
  }
}

/* @media (max-width: 1280px) {
  .project__section {
    width: 570px;
    position: relative;
  }
} */

@media (max-width: 1280px) {
  .project__section {
    width: 260px;
    position: relative;
    height: 317px;
  }
}