.header__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 386px;
}

p {
  color: #6B7280;
  padding: 0;
  margin: 0 10px 0 0;
}