
.header__link {
  color: #6B7280;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 1265px) {
  .header__link {
    font-size: 12px;
  }
}