.description__image {
  max-width: 544px;
  width: 100%;
  height: 348px;
  border-radius: 20px;
  position: absolute;
}

@media (max-width: 606px) {
  .description__image {
    max-width: 400px;
    height: 250px;
  }
}

