.feedback {
  padding: 41px 160px 42px;
  background-color: #fff;
  border-radius: 20px;
  max-width: 1120px;
  margin: 0 auto;
}

@media (max-width: 1220px) {
  .feedback {
    max-width: 800px;
  }
}

@media (max-width: 580px) {
  .feedback {
    max-width: 300px;
  }
}
