.description__white {
  max-width: 256px;
  width: 100%;
  height: 348px;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}

@media (max-width: 1439px) {
  .description__white{

  }
}

