.project__image {
  max-width: 740px;
  height: 500px;
  position: absolute;
  border-radius: 20px;
}

@media (max-width: 1439px) {
  .project__image {
    max-width: 570px;
    height: inherit;
  }
}

@media (max-width: 1280px) {
  .project__image {
    max-width: 470px;
  }
}