.project__link {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  position: relative;
  margin-right: 0;
  top: 196px;
  left: 152px;
  z-index: 1;
  text-decoration: none;
  font-family: "Inter Tight", sans-serif;
}