.description__white-subtitle {
  position: absolute;
  top: 250px;
  width: 210px;
  left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6B7280;
  font-family: "Inter Tight", sans-serif;
}