.question {
  padding: 45px 200px 107px;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 430px) {
  .question {
    max-width: 300px;
    padding: 30px 50px 50px;
    box-sizing: border-box;
  }
}
