.feedback__card {
  background-color: #F4F6FB;
  height: 326px;
  padding: 20px 0 0 18px;
  border-radius: 20px;
}

@media (max-width: 1030px) {
  .feedback__card {
  max-width: 500px;
  height: 240px;
  }
}
